

.container {
    margin: 0px auto;
    padding: 0px;
    /*opacity: 0.5;*/
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(images/background1.mp4) no-repeat;
    background-size: cover;
}

#body {
    background: #626260;
}


#main {
    background: #3B3B3B;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
    min-height: 500px;
}

.content {
    padding: 10px 44px;
}


.text {
    border-bottom: 1px solid #262626;
    margin-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.input-text {
    color: #000000;
}

.text h2 {
    color: #E5E5E5;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 2px;
}

.text {
    color: #E5E5E5;
}

.counter {
    background: #2C2C2C;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
    min-height: 90px;
    text-align: center;
    line-height: 90px;
}

.tall {
    min-height: 400px;
}

.counter h3 {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

#countdown {
    color: #FFFFFF;
}

#countdown span {
    color: #E5E5E5;
    font-size: 26px;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.well {
    padding: 0px;
}
