<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
        <link type="text/css" href="/css/main.css" rel="stylesheet" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"/>

            <title>HVS</title>
    </head>

    <body id = "body">        
        <div class="container text">
            <div id="main">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="../">HVS</a>
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/renewPictures">Renew Pictures</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="active"><a href="/find">Renew</a></li>                                        
                                    </ul>
                                </li>
                                <li>
                                    <form th:action="@{../search/}" method="post" style="color: black">
                                        <input name="matcher" style="width: 200px; height: 50px;" type="text" th:value="${currentMatcher}"/>
                                        <input type="submit" style="width: 200px; height: 50px;" value="Search"/>
                                    </form>
                                </li>
                            </ul>

<!--                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/login?logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            </ul>-->



                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>

                <nav id="myPagination">
                    <ul class="pagination pagination-lg">
                        <!--                        <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>-->

                        <li class="page-item" th:each="pageNumber : ${pageNumberList}">
                            <a class="page-link" th:href="@{|/page/${pageNumber}|}">
                                <span th:text ="${pageNumber}"></span>
                            </a>
                        </li>

                        <!--                        <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>-->
                    </ul>
                </nav>


                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="row" th:each="hvsDataModel : ${pageData}">

                            <div><h5 th:text="${hvsDataModel.videoModel.name}"></h5></div>
                            <a th:href="@{|/video/${hvsDataModel.id}|}">                                
                                <img th:src="${hvsDataModel.shadowPicture}" th:alt="@{images/defaultPicture.png}" height="200" width="300"/>
                            </a>



                            <hr class="tagline-divider"/>
                        </div>

                    </div> <!-- /#Main Div -->
                </div> <!-- /.Row Div -->

                <nav>
                    <ul class="pagination pagination-lg">
                        <!--                        <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>-->

                        <li class="page-item" th:each="pageNumber : ${pageNumberList}">
                            <a class="page-link" th:href="@{|/page/${pageNumber}|}">
                                <span th:text ="${pageNumber}"></span>
                            </a>
                        </li>

                        <!--                        <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>-->
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>