<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
        <link type="text/css" href="/css/main.css" rel="stylesheet" />
        <title>HVS</title>

        <style>
            #login-box {
                color: white;                    
                width: 300px;
                padding: 20px;
                margin: 100px auto;
                background: #3B3B3B;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border: 4px solid #000;
                border-color: black;
            }
        </style>

    </head>

    <body id = "body">
        <div class="container" >
            <div id="login-box" tiles:fragment="content" >
                <form name="f" th:action="@{/login}" method="post" class="form-signin">

                    <fieldset>
                        <h2 class="form-signin-heading">Please sign in</h2>

                        <div th:if="${param.logout}" class="alert alert-success"> 
                            You have been logged out.
                        </div>
                        <div th:if="${param.error}" class="alert alert-success">    
                            Invalid username and password.
                        </div>
                        
                        
                        
                        <label for="username">Username</label>
                        <input style="size: 200px;" class="input-text" type="text" name="username"/>  
                        <!--id="username"-->
                        <br/>
                        <label for="password">Password </label>
                        <input style="size: 200px;" class="input-text" type="password" name="password"/>  
                        <!--id="password"--> 
                        <br/>
                        <div class="form-actions">
                            <button style="size: 200px; color: black;" type="submit" class="btn btn-lg btn-primary btn-block" >Log in</button>
                        </div>

                        
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>