<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
        <link type="text/css" href="/css/main.css" rel="stylesheet" />
        <title>HVS</title>
    </head>

    <body id = "body">
        <div class="container text">
            <div id="main">
                
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="../">HVS</a>
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/renewPictures">Renew Pictures</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="active"><a href="/find">Renew</a></li>                                        
                                    </ul>
                                </li>
                                <li>
                                    <form th:action="@{../search/}" method="post" style="color: black">
                                        <input name="matcher" style="width: 200px; height: 50px;" type="text" th:value="${currentMatcher}"/>
                                        <input type="submit" style="width: 200px; height: 50px;" value="Search"/>
                                    </form>
                                </li>
                            </ul>

                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>
                
                
                
                
                
                <div class="row">
                    <!--large display-->
                    <div class="col-lg-12">
                        
                        <div th:text ="${hvsDataModel.videoModel.name}"></div>
                        <video controls="controls" width="640" height="480" tabindex="0">
                            <source th:src = "${hvsDataModel.videoModel.absolutePath}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                        </video>
                    </div> <!-- /#Main Div -->                    
                    
                </div> <!-- /.Row Div -->
            </div>            
        </div>
    </body>
</html>